body{
    background: url(images/body.png);
    background-size: cover;
    background-repeat: no-repeat;}

.img_size {
    height: 30em;
    width: 25em;
    margin-left: 500px;
    margin-right: 250px;
    margin-top: 0em;
}
.boxed {
    border: 1px solid black ;
    background-color: black;
    color: white;
    font-family: cursive;
    text-align: center;
    margin-top: 0em;
  }